body{
    background-image: url("images/leaves-pattern.png");

}
img{width: 200px;
height: 200px;}
footer {
    padding: 30px 0;
    clear: both;
    font-size: 12px;
    color: #ffffff;
    color: #cccccc;
    text-align: center;
    background: #666666;
    border-top: 8px solid #4aaaa5;
    height: 50px;
  }
  .work {
    position: relative;
    float: left;
    width: 200px;
    /* height: 200px; */
    margin: 20px 0 25px;
    overflow: auto;
    /* clear: both; */
    margin: 20px;
  }
    .work h3 {
        position: absolute;
        bottom: 20px;
        width: 100%;
        padding: 15px;
        margin-bottom: 0;
        font-weight: 300;
        line-height: 30px;
        color: #ffffff;
        text-align: center;
        background: #4aaaa5;
        border-bottom: 0;
        height: 60px;
        font-size: 95%;
      }
  
  
  /* footer{margin-top: 50%; */
  /* margin-bottom: 10%;} */